body {
    font-family: sans-serif;
}

header {
    color: blue;
    background-color: aqua;
}

header a {
    color: red;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 100000;
    color: black;
    background-color: #44944A;
    padding: 10px;
}

footer {
    background-color: #44944A;
    color: black;
}

nav {
    background-color: #44944A;
    padding: 10px;
    margin: 20px
}

.icon {
    background-color: #32CD32;
    border-radius: 5px;
}

